{% if include.entry.author %}
{%- include biblio/format/author.html author=include.entry.author -%}, 
{% endif %}
{%- if include.entry.url -%}<a href="{{ include.entry.url }}">{%- endif -%}
<i>{{ include.entry.title }}</i>{%- if include.entry.url -%}</a>{%- endif -%},

{% if include.entry.tipotesi %}
{{ include.entry.tipotesi }}, 
{% endif %}
{% if include.entry.organization %}
{{ include.entry.organization }}, 
{% endif %}
{% if include.entry.relatori %}
{% if include.entry.relatori.size == 1 %}relatore{% else %}relatori{% endif %}
&nbsp;{%- include biblio/format/author.html author=include.entry.relatori -%}, 
{% endif %}
{% if include.entry.address %}
{{ include.entry.address }}, 
{% endif %}
{% if include.entry.year %}
{{ include.entry.year }} 
{% endif %}
{% if include.entry.note %}
 {{ include.entry.note }}
{% endif %}
