---
layout: page
label: 42
title: "Pesi, misure e monete"
name: DSCPesiMisure
permalink: /page/DSCPesiMisure
has_toc: false
created_by: chiara
modified_by: chiara
created: 2010-08-18 11:41:35
menus: [IncludedNavUnikant]
logo: /assets/brand/menuunikant.png
---
<p>Le unità di misura in generale e loro conversione:</p>
<ul>
<li><a href="http://www.sizes.com">Sizes</a></li></ul>

<h1>Misure antiche</h1>

<p>Romane, greche, ecc.:</p>

<ul>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="marianae1599" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="mylerus1668" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="eisenschmid1737" %}</li>
</ul>


<h1>1600</h1>

<ul>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="oberti1667" %}</li>
</ul>

<h1>1700</h1>

<ul>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="megliorati1703" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="triulzi1766" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="detraytorens1766a" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="detraytorens1766b" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="tillet1769" %}</li>
</ul>


<h1>1800</h1>

<ul>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="kelly1811a" %}</li>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="kelly1811b" %}</li>
</ul>

<h1>Cambi</h1>

<ul>
<li>{% include biblioentry.html bibliodb=site.data.biblioreal.pesimisure label="lando1645" %}</li>

<li>
  <a href="http://www.economia.unam.mx/hm/biblio_dig.html">Biblioteca digitale</a> del progetto <a href="http://www.economia.unam.mx/hm/">HMonetaria</a> della Facoltà di Economia dell'Universitad Nacional Autónoma de México. 
</li>

</ul>



