    <footer>
      <section>
	<section>
	  <a  href="/info/cittadinanza.html">Cittadinanza</a>
	  <a href="{{ "/ludoteca" | relative_url }}">Ludoteca</a>
	  <a href="{{ "/archivio" | relative_url }}">Archivio</a>
	  <a href="{{ "/politica_estera" | relative_url }}">Politica estera</a>
	</section>
	
	{% for section in site.data.home_sections %}
	<section>
	  {% for block in section.blocks %}
	  {% if block.valid %}
	  <a href="{{ block.page_url | relative_url }}">{{ block.short_title }}</a>
	  {% endif %}
	  {% endfor %}
	</section>
      {% endfor %}
      </section>

      <section>
	<p>© 2003-2021 Gianozia Orientale</p>
      </section>

    </footer>
