  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kit.fontawesome.com/398c6b2bdc.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href='{{ "/assets/css/styles.css"  | relative_url }}'>
    <link rel="icon" href='{{ "/assets/brand/favicon.png" | relative_url }}' type="image/jpeg">
  </head>
