@import "colors";

.current {
  color: green;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    //border: 1px solid blue;
}


body{
    font-family: 'Raleway', serif;
    font-size: calc(10pt+1vw);
    background: linear-gradient(to bottom,
				$color-yellow-light-1,
				$color-yellow-light-2);
    color: black;
    // @media screen and (max-width: 700px) {
    // 	font-size: 1.75vw;
    // }
}



/*****************************************
  HEADER
 *****************************************/

header {

    #headerbanner, #headerpage {
	background: linear-gradient(to left,$color-red-3,$color-red-1,$color-red-3);

	position: relative;
	box-shadow: 0 1px 4px rgba($color-yellow-2, 0.6), 
		    0 0 20px 4px rgba($color-red-2, 0.3) inset;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

	text-shadow: 2px 2px 2px $color-red-2, -1px -1px 2px $color-red-light-3;
	color: $color-yellow-light-3;

    }

    #headerbanner {
	img {
	    width: 30%;
	}

	p {
	    width: 30%;
	    text-align: center;
	    font-size: 1.5em;
	}

	@media screen and (max-width: 800px) {
	    p {
		width: 35%;
		font-size: 1em;
	    }
	    img {
		width: 25%;
	    }
	    
	}

    }

    #headerpage {
	margin-bottom: 2em;

	a {
	    width: 10%;
	    img {
		width: 100%;
	    }
	}

	div {
	    width: 85%;
	    p {
		text-align: left;
		font-size: 2vw;
	    }
	}

	@media screen and (max-width: 700px) {
	    p {
		font-size: 3vw;
	    }
	}

	nav.bigviewport {
	    margin-top: 1em;

	    @media screen and (max-width: 780px) {
		display: none;
	    }

	    a {
		display: inline-block;
		width: 7em;
		text-align: center;
		line-height: 1.5em;
		margin-right: .2em;
		padding-left: .2em;
		padding-right: .2em;
		padding-bottom: .1em;
		border-radius: 2em;
		text-decoration: none;
		color: $color-yellow-light-3;
		box-shadow: 0 -1px 3px rgba($color-red-3, .5) inset, 
			    0  1px 3px rgba($color-red-3, .5) inset;
		font-weight: bold;
		font-size: 1.6vw;
		text-shadow: none;

	    }

	    a:hover {
		background: rgba($color-yellow-1,.5);
	    }

	}

	nav.littleviewport {
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: flex-start;
	    align-content: flex-start;
	    position: absolute;
	    right: 2%;
	    top: 20%;

	    @media screen and (min-width: 780px) {
		display: none;
	    }

	    a.handle {
		background: none;
		text-align: right;
		line-height: 1.7em;
		min-width: 150px;
		font-size: 3vw;
	    }

	    a.handle:hover {
		background: none;
	    }

	    a {
		font-size: 2.5vw;
		display: inline-block;
		text-shadow: none;
		width: 15vw;
		min-width: 150px;
		text-align: left;
		line-height: 1.5em;
		padding-bottom: .2em;
		padding-top: .2em;
		padding-left: .3em;
		padding-right: .4em;
		text-decoration: none;
		background: linear-gradient(to left,$color-red-3,mix($color-red-3, $color-red-1, $weight: 60%));
		font-weight: bold;
		//font-size: .8em;
		text-shadow: none;
		color: $color-yellow-light-3;
	    }

	    a:hover {
		text-decoration: underline;
		//background: rgba($color-yellow-1,.5);
	    }

	}


    }

    
    #headerpage:after,#headerpage:before,
    #headerbanner:after,#headerbanner:before {
	content:"";
	z-index:-100;
	position: absolute;
	top:50%;
	bottom:15px;
	left:10px;
	right: 40%;
	top: 80%;
	box-shadow: 0 15px 10px rgba($color-yellow-2,1);
	background: rgba($color-yellow-2,.8);
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
    }
    
    #headerbanner:after {
	right: 10px;
	left: 40%;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
    }
    
}

/*****************************************
  FOOTER
 *****************************************/

footer {
    min-height: 3em;
    margin-top: 2em;
    color: $color-yellow-0;
    border-top: 1px solid $color-yellow-0;
    background: rgba($color-yellow-light-3,1);
    padding: .2em;

    font-size: calc(8pt+1vw);


    a {
	color: $color-yellow-0;
	text-decoration: none;
    }

    a:hover {
	text-decoration: underline;
    }

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    section {

	margin-top: .2em;
	margin-bottom: 1em;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;

	section {
	    margin: 0;
	    margin-right: 1em;
	    margin-left: 1em;
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: space-around;
	    align-items: flex-start;
	    align-content: center;

	    a {
		display: block;
	    }

	}
	

	
    }



}


/**********************
*** MAIN
**********************/

figure:before { 
    position: absolute; 
    z-index: 1;
    display: block;
    content:"";
    -webkit-box-shadow:0 0 10px 10px rgba($color-yellow-0,0.8);
    -moz-box-shadow:0 0 10px 10px rgba($color-yellow-0,0.8);
    box-shadow:0 0 10px 10px rgba($color-yellow-0,0.8);
    top:10%;
    bottom:10%;
    left:0%;
    right:0%;
    -moz-border-radius: 10px / 200px;
    border-radius:10px / 200px;
} 
	
figure {
    position: relative;
    -webkit-box-shadow:0 1px 4px rgba($color-yellow-0, 0.3), 0 0 40px rgba($color-yellow-0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba($color-yellow-0, 0.3), 0 0 40px rgba($color-yellow-0, 0.1) inset;
    box-shadow:0 1px 4px rgba($color-yellow-0, 0.3), 0 0 40px rgba($color-yellow-0, 0.1) inset;

    z-index: 1;

    div {
	position: relative;
	z-index: 3;
	padding: 1em;
	
	img {
	    width: 100%;
	}
	
	figcaption {
	    font-size: 80%;
	    text-align: center;
	    width: 100%;
	}
    }
    
}


main.home {

    figure {
	div {
	    background: linear-gradient(to bottom,
					$color-yellow-light-1,
					$color-yellow-light-2);
	}
    }

    font-size: 2vw;
    @media screen and (max-width: 700px) {
	font-size: 3vw;
    }

    padding: .5em;

    text-align: justify;

    a, a:visited {
	color: $color-purple-0;
	text-decoration: none;
	font-weight: bold;
    }

    a:hover {
	text-decoration: underline;
    }

    h1 {
	background: linear-gradient(30deg,$color-yellow-0,
				    $color-yellow-light-0,$color-yellow-2);
	color: $color-red-3;
	padding: .1em;
	text-align: center;
	margin-bottom: .5em;
    }

    section.main {
	margin: 1em;
	padding: .5em;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

	@media screen and (max-width: 700px) {
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: stretch;
	}


	div {
	    padding-left: 1em;
	    padding-right: 1em;
	    p {
		margin-top: 1em;
		margin-bottom: 1em;
	    }

	    @media screen and (max-width: 700px) {
		width: 100vw;
	    }

	}

	figure {
	    width: 50vw;
	    background: $color-yellow-light-1;
        
	    @media screen and (max-width: 700px) {
		width: 80%;
		margin: auto;
		margin-top: 1em;
	    }
	}

    }

    
    section.blockcontainer {

	font-size: .8em;

	margin-top: 4em;
	margin-bottom: 1em;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;

	@media screen and (max-width: 700px) {
	    flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: stretch;
	}


	section.block {
	    flex: 1 1 0;
	    min-width: 0;
	    //align-self: flex-start;

	    position: relative;

	    p.followme {
		text-align: right;
		vertical-align: bottom;
		position: absolute;
		bottom: 0;
		right: 0;
	    }

	    img {
		float: left;
		position: relative;
		margin: .5em;
		margin-left: 0;
		margin-top: 0;
		width: 12.5vw;
		max-width: 100px;

	    }
	    clear: left;
	    margin: .5em;
	    
	}

    }

}

main {

    aside {
	float: right;
	margin: .5em;
	padding: .5em;
	background: lighten($color-purple-light-1,15);
	font-size: .8em;

	p.level1 { 
	    margin-left: 1em;
	}

	p.level2 { 
	    margin-left: 2em;
	}

	p.level1, p.level2 {
	    border-left: 2px solid transparent;
	    margin-top: 3px;
	    padding-left: 2px;
	}

	p.level1:hover, p.level2:hover {
	    border-left: 2px solid $color-purple-light-4;
	}


	.title {
	    background: $color-purple-light-4;
	    color: $color-purple-light-1;
	    font-weight: bold;
	}

	p.level0.title {
	    margin-top: 1em;
	}

	a {
	    font-weight: normal;
	    width: 100%;
	}
	a:hover {
	    text-decoration: none;
	}

	padding-bottom: 1em;

    }

    clear: both;
    padding: .5em;
    text-align: justify;

    a, a:visited {
	color: $color-purple-0;
	text-decoration: none;
	font-weight: bold;
    }

    a:hover {
	text-decoration: underline;
    }

    h1.page {
	clear: right;
	background: linear-gradient(30deg,$color-yellow-0,
				    $color-yellow-light-0,$color-yellow-2);
	color: $color-red-3;
	padding: .1em;
	text-align: center;
	margin-bottom: .5em;
    }

    article {
	background: white;
	//z-index: -2;
	padding: 1em;
	position: relative;
	clear: both;
	line-height: 2em;

	box-shadow: 0px 0px 2px 2px rgba($color-yellow-2, 0.6);

	a {
	    z-index: 10;
	    position: relative;
	}

	figure {
	    div {
		background: white
	    }
	}

	figure:nth-child(odd) {
	    float: left;
	    margin: 1em;
	    margin-left: 0;
	}

	figure:nth-child(even) {
	    float: right;
	    margin: 1em;
	    margin-right: 0;
	}

	figure {
	    max-width: 50vw;
	    background: white;
    
	    @media screen and (max-width: 700px) {
		width: 80%;
		margin: auto;
		margin-top: 1em;
	    }
	}

	h1 {
	    margin-top: 1em;
	    margin-bottom: .5em;
	    font-size: 200%;
	    color: $color-red-3;
	    border-bottom: 1px solid $color-red-3;
	    border-top: 1px solid $color-red-3;
	    padding-bottom: .3em;
	    padding-top: .3em;
	    clear: both;
	}

	p {
	    text-indent: 2em;
	}

	blockquote {
	    font-size: 80%;
	    padding-left: 4em;
	    padding-right: 4em;
	    line-height: 1.6em;
	    margin-top: .5em;
	    margin-bottom: .5em;
	    
	}

	footer {
	    background: none;
	    border: none;
	    text-align: right;
	    margin: 0;
	    margin-top: 10em;
	    padding: 0;
	    display: block;
	    font-size: 80%;
	    color: rgba($color-yellow-0,.8);
	    border-top: 1px solid rgba($color-yellow-0,.4);
	    line-height: 1em;
	    clear: both;
	}


    }


}
