---
layout: page
label: 34
title: "Qasr al-Hayr al-Gharbi"
name: DSCArcheologiaIslamQusurHayrGharbi
permalink: /page/DSCArcheologiaIslamQusurHayrGharbi
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.743377+01
last_modified: 2014-05-08 09:18:44.590461+02
scheda:
  - key: anno
    value: "724-727"
  - key: luogo
    value: "Palmyra, Siria, zona ora desertica"
  - key: committente
    value: "Hisham"
---
<p>{% assign image_name="archnet.ISY0580.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="questier.20051219-090358_Syria_Damascus_National_museum_Qasr_al-Hayr_al-Gharbi_f.jpeg" %}
{% include image.html %}</p>
<p>
Poco  precedente  ad  <a href="{{ "/page/DSCArcheologiaIslamQusurHayrSharki"|relative_url }}">al-Sharki</a>
Nessun  elemento diverso: legato  alla tradizione  romana. All'interno è  uno  spazio domestico,  all'esterno  è  un  forte.  Ingloba  un torrione bizantino, a differenza degli altri che erano nel nulla.</p>
<p>E' stati scavato intorno al 1930, con catalogo:
<ol>
<li>statue di stucco del primo periodo Omayyade;</li>
<li>affreschi murari e pavimentali.</li>
</ol></p>
<p>E' stato smontato e portato al museo nazionale di Damasco.</p>
<p>La   ricchezza  e   le   peculiarità  delle   decorazioni  sono   la particolarità di questo qasr.   L'arte statuaria è simile a Kirbat al-Mafjar,  ma ispirata  alla  tradizione bizantina  e non  sassanide. Realizzata  in  stucco (sassanide),  che  però rappresenta  elementi classici (eclettismo). Personaggio togato, (museo di Damasco).</p>
<p>Affreschi pavimentali  (museo di Damasco) che imitano  il mosaico: non è stato  usato tantissimo  perché altrimenti il  pavimento sarebbe consumato.  Motivi  tradizionali  classici (medaglione  con  ritratto) affiancati da motivi sassanidi (scene di caccia) nella stessa stanza.</p>
<p></p>