---
layout: page
label: 28
title: "La Moschea di Ibn Tulun al Cairo"
name: DSCArcheologiaIslamMoscheaIbnTulun
permalink: /page/DSCArcheologiaIslamMoscheaIbnTulun
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.577565+01
last_modified: 2014-05-08 09:18:44.523896+02
scheda:
  - key: anno
    value: "870-879"
  - key: luogo
    value: "Fustat, il Cairo"
  - key: committente
    value: "Ibn Tulun"
---
<p>{% assign image_name="archnet.IMG13450.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="creswell.EA.CA.2199.crop.png" %}
{% include image.html %}
Ben conservata: oratorio privato  della madrasa, che ben presto smette di essere un edificio pubblico. Molto simile a quella di Samarra.</p>
<p>Ibn Tulun è un militare turco  nato e cresciuto a Samarra, dove fa una veloce e  prestigiosa carriera nell'esercito.  Fonda  una sua dinastia in Egitto.</p>
<p>Mattone cotto e decorazioni  in stucco.  Ziyada.  Minareto elicoidale, disassato perché  non originale, ma  ricostruito in muratura  nel XIII secolo. Pilastri  in muratura con  colonnette. Copertura in  piano che poggia  su arcate. Non  ci sono  le torri  a gettante,  ma ci  sono le nicchie e  i numerosi punti  d'accesso (ora chiusi). La  decorazione a merlature con motivi polilobati non si sa se ci fosse anche a Samarra.</p>
<p>{% assign image_name="archnet.INA0605.JPG" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ICR0173.JPG" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.IHC0458.jpg" %}
{% include image.html %}
A Samarra le nicchie sono chiuse,  qui ci sono finestre con griglie in stucco.  E' riconosciuto come il più antico monumento di impiego degli archi a sesto acuto.</p>
<p>La fontana  per  le abluzioni  c'era  in orgine  ed è  stata ricostruita  nel XII  secolo.</p>
<p>La sala di preghiera è aperta, senza muro con la corte.</p>
<p>Il minareto è  in pietra, tipica del Cairo solo  dell'XI secolo, ed ha una forma insolita a spirale.</p>
<p></p>