---
layout: page
label: 36
title: "Qasr Kharane"
name: DSCArcheologiaIslamQusurKharane
permalink: /page/DSCArcheologiaIslamQusurKharane
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.810705+01
last_modified: 2014-05-08 09:18:44.612557+02
scheda:
  - key: anno
    value: "710"
  - key: luogo
    value: "Azraq, Giordania"
  - key: committente
    value: "al-Walid"
---
<p>{% assign image_name="archnet.IMG13452.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="questier.20051225-094423_Jordan_Qasr_al_Kharaneh.jpg" %}
{% include image.html %}
Migliore   conservazione,   non    intaccato   nemmeno   da   restauri importanti. In Giordania, vicino ad Amman.  Su due piani, gli ambienti di rappresentanza sono al primo piano.</p>
<p>La povertà dei materiali indica  (sembra) che non sia stato occupato con continuità.  E' stato  interpretato come un caravanserraglio, un rifugio temporaneo per le carovane, una delle funzioni previste per i qusur.</p>
<p>Le  tecniche  costruttive lasciano  perplessi,  perché  non ci  sono pietre da taglio, ma pietra spaccata e (probabilmente) intonaco. E' un tipo di  tecnica muraria che proviene dall'Oriente,  che fa ipotizzare che gli artigiani circolassero per l'impero (come dai documenti).</p>
<p>Con elementi  orientali si costruiscono  edifici e elementi  (arco) di tradizione  classica. Elemento orientale  è l'uso  di tre  colonne a fascio su  cui appoggiano  gli archi per  la copertura.  Rimangono gli elementi   architettonici  e   l'architettura,  cambiano   tecniche  e materiali.</p>
<p>{% assign image_name="questier.20051225-094521_Jordan_Qasr_al_Kharaneh.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="questier.20051225-100731_Jordan_Qasr_al_Kharaneh.jpg" %}
{% include image.html %}</p>
<p></p>