---
layout: page
label: 26
title: "La formazione della Moschea"
name: DSCArcheologiaIslamMoschea
permalink: /page/DSCArcheologiaIslamMoschea
has_toc: true
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.505207+01
last_modified: 2014-05-08 09:18:44.501622+02
---
<p>Il corano non dà indicazioni sulla struttura della moschea. L'unica prescrizione è l'obbligo della preghiera, che è un atto privato: ovunque uno preghi, quella è una masjid. Ma è anche un atto comunitario, il venerdì a mezzogiorno, quando l'imam pronuncia la <i>khutbah</i> e guida la preghiera. Tutti gli atti di preghiera sono preceduti dalla chiamata del muezzin e dalle abluzioni. Queste pratiche rafforzano la comunità musulmana e la separano dalle altre.</p>
<p>
Sembra che sia Medina che le altre città avessero una qualche masjid usata dal profeta in visita, ma non esistono molte informazioni. L'unica di cui si abbiano notizie è la <a href="{{ "/page/DSCArcheologiaIslamMoscheaProfeta"|relative_url }}">casa del profeta</a>
<h1>Struttura di base</h1>
La struttura base, influenzata dall'architettura templare babilonese e successiva (sinagoghe, basiliche a sale larghe), ha una zona coperta e una scoperta, in generale non indipendenti. Non si tratta cioè di una corte con un portico intorno, ma di un'unica sala in parte coperta e in parte no.</p>
<p>La moschea principale rimane sempre adeguata alla popolazione (cresce con questa) e non è concepita come un'entità completa. Tende ad esse definita in base alle necessità della popolazione, non in base ad una composizione ideale. Anche il numero e la disposizione delle porte sono legati più agli edifici circostanti che alla natura del luogo.</p>
<p><h2>La sala ipostila</h2>
Per potersi modificare secondo le necessità, la moschea deve avere una struttura modulare, individuata nella sala ipostila, che può essere moltiplicata all'infinito in ogni direzione. Erano disponibili di due tipi:</p>
<p><ol>
<li>con colonne antiche, capitello e tutto (in Siria  e a ovest, in  Iraq all'inizio);</li>
<li>con pilastri  di mattoni,  di  solito  rettangolari con  colonnette  (Iran, Samarra).</li>
</ol>
Non sempre il modulo è una volta, spesso è un'intera navata.</p>
<p><h2>Ipotesi sulle origini</h2>
Modelli antichi:</p>
<p><ol>
<li>modello del vicino oriente, però scomparso nel IV sec. a.C.;</li>
<li>apadanas persiani;</li>
<li>foro romano, ma è improbabile per l'Iraq.</li>
</ol>
L'esempio  della  casa  del  profeta  è  stato  sviluppato  e  formalizzato in Iraq, perché</p>
<p><ol>
<li>era l'unico modello disponibile;</li>
<li>non c'era ancora un contatto con altre tradizioni architettoniche; ma questo processo teorico è improbabile e difficile da dimostrare.</li>
</ol>
In origine c'era bisogno di ordine e di senso della comunità, ma nessuna costruzione esistente poteva fornirli. Si produsse così una spontanea invenzione locale, con un largo spazio, coperto da un soffitto più o meno mobile, senza un muro perimetrale, ma solo con una qualche delimitazione (fossato). Contemporaneamente, la <a href="{{ "/page/DSCArcheologiaIslamMoscheaProfeta"|relative_url }}">casa del profeta a Medina</a>
Questo semplice modello è seguito dalle prime moschee: Bassora (635, ricostruita nel 665), Kufa (637, ricostruita nel 670) e Wasit (702), tutte città di recente formazione islamica. Il metodo di copertura è sconosciuto. Non erano solo edifici religiosi, ma anche civili, e sorgevano vicino al palazzo del governatore. E' possibile che fossero così anche le moschee siriane e africane (Qayrawan, Fustat). A Fustat era un edificio coperto (641-642) a cui nel 673 fu aggiunta la corte scoperta.
[img img="archnet.IMG13453.jpg width="800"/]</p>
<p><h1>Elementi caratteristici</h1>
<h2>Minbar</h2>
Esisteva già  nella <a href="{{ "/page/DSCArcheologiaIslamMoscheaProfeta"|relative_url }}">moschea del profeta</a>
<h2>Minareto</h2>
E' un'alta torre, attaccata o vicina alla moschea. In origine ce n'è uno solo ed è quadrato (Siria). In Iraq compare il minareto a spirale (<a href="{{ "/page/DSCArcheologiaIslamCittaAbbassidiSamarra"|relative_url }}">Samarra</a>), in Iran nell'XI secolo quello cilindrico e più tardo è quello composito. Non esiste nelle primissime moschee, ma compare per la prima volta in Siria o in Egitto. Sembra che i primi siano i quattro della <a href="{{ "/page/DSCArcheologiaIslamMoscheaProfeta"|relative_url }}">moschea di Medina</a> nel  restauro di  al-Walid  (707-709).  Altri candidati  sono <a href="{{ "/page/DSCArcheologiaIslamMoscheaDamasco"|relative_url }}">Damasco</a> e Fustat. A Damasco  è la torre dell'antico temenos romano  su cui sorge la <a href="{{ "/page/DSCArcheologiaIslamMoscheaDamasco"|relative_url }}">moschea</a>
Il suo uso è più simbolico che reale (i muezzin spesso continuano a chiamare dai tetti) e indica la presenza dell'Islam soprattutto ai non musulmani: difatti, nasce in una città, Damasco, in origine a maggioranza cristiana e dov'era più difficile per i muezzin sperare di raggiungere tutti.</p>
<p><h2>Mihrab</h2>
E' una nicchia, ricavata nella qibla, riccamente decorata, ma rigorosamente vuota. Ipotesi di significato:</p>
<p><ol>
<li>direzione della preghiera; ma non c'è nelle prime moschee, la qibla e di conseguenza l'intera moschea sono già indicative e non è visibile da tutta la moschea;</li>
<li>identifica una posizione onorifica, quella del principe; ma appare in tutte le moschee, non solo in quelle ufficiali;</li>
<li>nella moschea di Medina corrisponde al punto in cui era solito pregare il profeta, per cui servirebbe a commemorare la presenza del profeta come primo imam; quindi è il primo e forse l'unico elemento che può essere spiegato interamente in termini religiosi e pietistici.</li>
</ol>
Deriva dalle nicchie classiche, come si ritrovano altrove:</p>
<p><ol>
<li>haikal delle chiese copte;</li>
<li>conserva i rotoli della Torah nelle sinagoghe;</li>
<li>posto d'onore per le statue.</li>
</ol>
Spesso il mihrab è accompagnato da una cupola, di fronte al centro della qibla, che sottolinea la sacralità del luogo. Quest'uso comincia a <a href="{{ "/page/DSCArcheologiaIslamMoscheaProfeta"|relative_url }}">Medina</a>
<h2>Maqsurah</h2>
Non esiste in tutte le moschee. E' un'area chiusa riservata al principe, vicino al mihrab, con intenti difensivi o onorifici.</p>
<p><h2>Bayt al-Mal (casa del tesoro)</h2>
E' una costruzione coperta al centro della corte, dove veniva anticamente conservato il tesoro della comunità. Le moschee successive spesso non ce l'hanno, in alcuni casi è stato trasformato in fontana. Nella <a href="{{ "/page/DSCArcheologiaIslamMoscheaDamasco"|relative_url }}">moschea di Damasco</a>
<h2>Spazio per le abluzioni</h2>
In genere nelle mosche più antiche è all'esterno dell'edificio.</p>
<p><h2>Zihada</h2>
Spazio aggiuntivo di servizi (latrine, bagni, ecc.), all'esterno e intorno alla moschea, che in più la isola dagli altri palazzi.</p>
<p><h1>La sala ipostila con pianta a T</h1>
La struttura ipostila strettamente modulare non dà il senso della direzione. Col tempo, le funzioni civili della moschea perdono d'importanza a favore di quelle religiose e la qibla assume un carattere più mistico. Nelle regioni più vicine al Mediterraneo si comincia a sottolineare la qibla, e la direzione che la qibla individua, modificando la proporzione e la disposizione delle navate.</p>
<p>Navata assiale, mihrab, minbar e, quando c'è, maqsura formano un'unica entità, che richiama una sala del trono ed è collegata alle cerimonie regali. Ma più che il potere reale, identifica la direzione portante dello sviluppo della moschea.
{% assign image_name="t1.png" %}
{% include image.html %}</p>
<p>
{% assign image_name="t2.png" %}
{% include image.html %}</p>
<p>
{% assign image_name="t3.png" %}
{% include image.html %}</p>
<p><h2>Decorazione</h2>
All'esterno le decorazioni sono rare: il muro perimetrale, largo e massiccio, serve a separare i musulmani dal resto del mondo e all'esterno ci sono raramente dei segni che identificano la funzione dell'edificio.</p>
<p>Le colonne o provengono da altri palazzi o sono copie. Anche i pilastri non sono una novità. La maggior parte dei supporti è sormontata da archi, semicircolari o a punta. Le volte sono rare. In ogni caso, si tratta di tradizioni preesistenti. Quello che è veramente caratteristico è l'assenza di un ordine e di una correlazione tra la struttura e la decorazione.</p>
<p>Le tecniche sono le più varie (mosaico, affresco, stucco, legno, ecc.) e non c'è un'associazione formale tra la moschea e le tecniche di decorazione. Tuttavia, all'interno dello stesso edificio una particolare tecnica predomina sulle altre.</p>
<p>La decorazione della moschea è principalmente ornamentale, ma non solo. Le mosche si possono dividere in:</p>
<p><ol>
<li>quelle in cui la decorazione sottolinea l'importanza di certe zone;</li>
<li>quelle in cui la decorazione rafforza l'unità totale del monumento.</li>
</ol>
In alcuni casi è possibile individuare un significato iconografico, tipicamente una rappresentazione del Paradiso. Tuttavia, anche ci fosse stato, questo significato è andato presto dimenticato dalla memoria collettiva.</p>
<p>La scrittura, non molto presente all'inzio, è più di una decorazione. Ha un significato che si può chiamare iconografico, in quanto certe difficoltà di lettura prevedono che il lettore conosca già il significato (come in genere per le arti religiose).</p>
<p></p>