---
layout: page
label: 59
title: "Il pinguino alla ricerca del computer perduto"
name: DscPinguinoIJGioielli
permalink: /page/DscPinguinoIJGioielli
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:55.192353+01
last_modified: 2014-05-08 09:18:44.867826+02
---
<p><h1>I Gioielli</h1>Due autentici cimeli sulle memorie a nuclei di ferrite.</p>
<p><h2>Prototipo di memoria a nuclei di ferrite</h2>
<i>Gian Antonio Mian, Collezione Privata</i></p>
<p>
Costruita al DEI, dal prof. G.B. De Biasi, nel 1962. E' un prototipo per una memoria a nuclei di ferrite per schede a 8 bit, analoga a quella del Nova.</p>
<p><h2>Scheda di un Nova</h2>
{% assign image_name="snova.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="Nova840.jpg" %}
{% include image.html %}
Il Nova viene usato per Calcolatori Elettronici fino al 1986. Il bootstrap si fa impostando un banco di interruttori sul pannello centrale, la RAM è di ben 512 byte, a nuclei di ferrite. Viene poi regalato alla Facoltà di Medicina. La parte centrale della scheda è una memoria a 8kB a nuclei di ferrite, interamente cuciti a mano.</p>
<p></p>