{%- if include.entry.archlabel -%}
{{- include.entry.archlabel -}} 
{%- endif -%}
{%- if include.entry.fondolabel -%}
{{- include.entry.fondolabel -}} 
{%- endif -%}
{%- if include.entry.busta -%}
&nbsp;b.&nbsp;{{- include.entry.busta -}} 
{%- endif -%}
{%- if include.entry.fusta -%}
&nbsp;f.&nbsp;{{- include.entry.fusta -}} 
{%- endif -%}
{%- if include.entry.registro -%}
&nbsp;reg.&nbsp;{{- include.entry.registro -}}
{%- endif -%}
{%- if include.entry.number -%}
&nbsp;n.&nbsp;{{- include.entry.number -}} 
{%- endif -%}

