---
layout: page
label: 68
title: "Politica Estera"
name: PoliticaEstera
permalink: /page/politica_estera
has_toc: false
created_by: chiara
modified_by: chiara
created: 2003-08-26 14:45:55.337176+01
protected: true
bibliography:
  - openworld
---


<h1>Unione Europea</h1>

<p>La Gianozia  Orientale non ha ancora  deciso se presentare o  no la
   richiesta di  adesione all'Unione Europea. È  d'altrocanto disposta
   ad  accogliere molto  favorevolmente la  richiesta d'adesione  alla
   Gianozia Orientale da parte dell'Unione Europea.</p>

<h1>Brevetti sul software</h1>

{% include figure.html fig=site.data.figures.nopatents width="130px" %}

<p>La Gianozia  Orientale considera i brevetti sul  software una grave
iattura capace  di frenare il  progresso e limitare  la libert&agrave;
delle persone.</p>

<p>Si     legga     a      questo     proposito     quanto     scritto
dalla <a href="https://fsfe.org/campaigns/swpat/background.it.html">FSFE</a>,
Free Software Foundation Europe:</p>

<blockquote cite="bib:fsfebrevettiback">
Dunque, un brevetto sul software si rivela un monopolio su specifici metodi di calcolo, rendendo leggi matematiche, regole logiche e processi industriali, proprietà privata delle aziende, ed espropriando a tutti gli effetti la società della conoscenza da essa prodotta.

Gli effetti di tutto ciò possono essere drammatici. Non solo ogni singolo programma incorpora letteralmente migliaia di idee che potrebbero essere soggette a brevetti software, ma, mentre i brevetti concessi in altri campi normalmente non sconfinano dal campo nel quale sono stati concessi, i brevetti software producono effetti in tutte le aree in cui il software viene applicato.
</blockquote>

<p>Da sempre la Gianozia Orientale aderisce
alla <a href="http://en.swpat.org/wiki/Software_patents_wiki:_home_page">campagna
contro la brevettabilità del software</a> nella Comunità Europea (e altrove). </p>

<p>Il Governo della Repubblica Popolare per Azioni della Gianozia
Orientale ha plaudito vivamente al voto che il 6 Luglio 2005 ha
respinto - con 648 voti su 680 - l'orribile direttiva sui brevetti sul
software proposta in modo discutibile (ad essere diplomatici) dalla
Commissione. La fausta data sar&agrave; da ora in poi festa nazionale
e ai 648 voti verr&agrave; dedicato il &quot;Viale dei 648 voti del 6
Luglio 2005&quot;.</p>

<h1>Digital Right Management</h1>

{% include figure.html fig=site.data.figures.nodrm.fig1 %}

{% include figure.html fig=site.data.figures.nodrm.fig2 %}

{% include figure.html fig=site.data.figures.nodrm.fig3 %}

{% include figure.html fig=site.data.figures.nodrm.fig4 %}

<p>La  Gianozia Orientale  considera  il Digital  Right Management  un
abuso volto a <b>costringere</b>  gli utenti a tenere un comportamento
onesto  non per il  bene della  societ&agrave; ma  per il  profitto di
pochi.</p>

<p>Per questo  motivo plaude gli anonimi contestatori  che nella notte
tra  il  7  e  l'8   Maggio  2004  hanno  attuato  una  divertente  ed
intelligente  forma   di  protesta  dal   titolo  "Analog  Restriction
Management against  Digital Restriction Management  davanti allo stand
di una nota multinazionale dei bug".</p>

<p>Offriamo  qui alcune prove  fotografiche acquisite  dalla Direzione
Servizi  Informazioni  della  Repubblica  Popolare  Per  Azioni  della
Gianozia Orientale.</p>

<p>Gli analisti della nostra  bene informata intelligence danno questa
interpretazione del significato del gesto:</p>

<p  class="section_box"><i>Con  i bicchierini  di  carta hanno  inteso
impedire l'accesso allo stand allo stesso modo in cui il DRM impedirà
agli utenti di accedere alle  loro applicazioni. La monetina fa invece
riferimento      all'&quot;avidit&agrave;&quot;     mostrata     dalla
multinazionale in questione.</i></p>
