---
layout: page
label: 38
title: "Qasr Mshatta"
name: DSCArcheologiaIslamQusurMshatta
permalink: /page/DSCArcheologiaIslamQusurMshatta
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.876835+01
last_modified: 2014-05-08 09:18:44.634788+02
scheda:
  - key: anno
    value: "743-744"
  - key: luogo
    value: "32 km da Amman, Giordania"
  - key: committente
    value: "al-Walid II"
---
<p>{% assign image_name="archnet.JOR0082.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="Mschatta-Fassade_Pergamonmuseum.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.JOR0086.jpg" %}
{% include image.html %}
Vicino all'aeroporto di Amman.  E' la tappa finale dell'evoluzione dei Qusur (seconda metà dell'VIII  secolo). Incompiuto. La pianta è il bayt siriano.</p>
<p>La  parti  in  pietra  della  città  muraria  sono  al  Pergamon  di Berlino. In situ resta solo la parte bassa.</p>
<p>La  ricca decorazione dimostra  che non  erano strutture  difensive. I pannelli  sono   quasi  altorilievi  in  pietra   calcarea.  I  motivi decorativi sono tralci floreali che annunciano l'arabesco (vanno verso l'astratto).</p>
<p>C'è una grande varietà  nella realizzazione: progetto unitario, ma molta  libertà  data  agli  artigiani (caratteristica  del  cantiere medievale). Quindi realizzate  in tempi brevi con un  grande numero di maestranze,  probabilmente  richiamati   da  varie  parti  dell'impero (Grabar).</p>
<p>E'  stato  solo documentato  e  mai  scavato.  E' un  progetto  legato all'architettura palatina sassanide: sala di rappresentanza con grossa corte,  iwan,  sala  cupolata  e  unità  abitative  intorno.  Questa struttura compare con l'Islam probabilmente per influsso siriano.</p>
<p>Si  avvicina  ai  sassanidi  con  le  decorazioni  e  la  composizione interna. La funzione è di rappresentanza.</p>
<p></p>