---
layout: page
label: 24
title: "Cupola della Roccia (Gerusalemme)"
name: DSCArcheologiaIslamCupoladellaRoccia
permalink: /page/DSCArcheologiaIslamCupoladellaRoccia
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.456482+01
last_modified: 2014-05-08 09:18:44.47966+02
scheda:
  - key: anno
    value: "691"
  - key: luogo
    value: "Gerusalemme committente"
  - key: architetti
    value: "Raja' ibn Haywen, Yazid ibn Salam"
---
<p>I soffitti dell'ottagono e della cupola sono mammelucchi o ottomani, in legno intagliato e cuoio. In origine probabilmente solo di legno.</p>
<p>Ha quattro ingressi monumentali, preceduti da verande i cui soffitti in origine erano coperti da mosaici.
{% assign image_name="archnet.IHJ0061.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.IMG08443.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.IMG08441.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="cupolaroccia.IMG08442.png" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ICR1891.JPG" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.IAA13644.JPG" %}
{% include image.html %}</p>
<p><h1>Decorazione</h1></p>
<p>Eredità bizantina:</p>
<p><ol>
<li>la pianta centrale deriva  dai <i>martyria</i> ed è strettamente collegata ai santuari cristiani;</li>
<li>molte tecniche di costruzione:</p>
<p><ol>
<li>archi su pilastri e colonne;</li>
<li>cupola in legno;</li>
<li>finestre a griglia;</li>
<li>fattura di pietre e mattoni;</li>
</ol>
</li><li>complicato sistema di proporzioni;</li>
<li>decorazioni a  mosaico e  in marmo:  la variazione  continua di   soggetti vegetali  è legata alla  tradizione cristiana in  Siria e   Palestina.</li>
</ol>
<h2>Elementi originali.</h2></p>
<p>La natura delle decorazioni del mosaico:</p>
<p><ol>
<li>uso  e combinazioni non  realistici di forme  reali: origine       naturalistica dell'arabesco;</li>
<li>variazione continua: pochi temi ripetuti, ma mai esattamente       identici.</li>
</ol>
Nuova  relazione tra architettura e  decorazione: la decorazione   non  è  più al  servizio  dell'architettura,  ma  la nasconde  e   stravolge;  può essere un'elaborazione  in proprio  o un'influenza   iranica o della  Ka'ba della Mecca. Rappresenta il  primo esempio di   estetica del tessile.</p>
<p>Altezza  della   cupola:  più   visibile   dall'esterno  che   dall'interno, per</p>
<p><ol>
<li>indicare che l'Islam  ha nuovamente  santificato la  zona del     tempio di Gerusalemme;</li>
<li>dare l'impressione di un lussuoso recinto sacro per scopi     interni e ristretti: la tipologia architettonica è semplificata     fino alla pura geometria, con minime modifiche per creare effetti     visivi.</li>
</ol>
<h1>Significato</h1></p>
<p>Dato che:</p>
<p><ol>
<li>sorge sul monte Moriah, sede tradizionale del tempi odi Salomone   e luogo di fatti storici e leggende;</li>
<li>decorazioni   con  gioielli  e  motivi   floreali  bizantini  e   sassanidi;</li>
<li>posizione dominante su resto di Gerusalemme;</li>
<li>scelta accurata delle iscrizioni coraniche;</li>
<li>antiche tradizioni musulmane;</li>
</ol>
gli scopi sembrano essere:</p>
<p>
</p>