---
layout: page
label: 33
title: "Qusayr `Amra"
name: DSCArcheologiaIslamQusurAmra
permalink: /page/DSCArcheologiaIslamQusurAmra
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.711505+01
last_modified: 2014-05-08 09:18:44.579385+02
scheda:
  - key: anno
    value: "712-715"
  - key: luogo
    value: "Asraq, Giordania"
  - key: committente
    value: "al-Walid"
---
<p>{% assign image_name="archnet.JOR0075.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="questier.20051225-103355_Jordan_Qasr_Amra.med.jpg" %}
{% include image.html %}
E'  conosciuto solo l'impianto  termale, gli  altri elementi  non sono stati  identificati  bene.  Anni  '70  scavi:  ritrovamento di  alcuni elementi  architettonici. C'è  chi  vede  il bagno  come  parte di  un palazzo  che dista  circa 15  km a  cui manca  la parte  termale (Qasr al-Habarn).</p>
<p>{% assign image_name="questier.20051225-105740_Jordan_Qasr_Amra_Hydraulic_System.jpg" %}
{% include image.html %}
Scoperto alla fine dell'800, frequentato da beduini, era in condizioni precarie, gli affreschi dei bagni erano sporchi e rovinati: restauri.</p>
<p>Caratteristiche:
<ol>
<li>grande ingresso: sala da ricevimento;</li>
<li>no frigidarium;</li>
<li>pietre non perfettamente squadrate:</p>
<p><ol>
<li>all'ingresso c'è un  misto non  omogeneo di  pietre (potrebbe essere di recupero);</li>
<li>sotto la pietra è squadrata, ma è di recupero;</li>
</ol>
</li><li>archi a punta;</li>
<li>volte.</li>
</ol></p>
<p><h1>Affreschi</h1></p>
<p>Sono  vita di  corte, i  mestieri, danzatrici,  donne senza  abiti che fanno   il   bagno   (ciclio   erotico).   Non   c'è   ricerca   della tridimensionalità.   Non  sono  considerati   un  capolavoro,   ma  un esperimento nell'arte dell'affresco mai più ripetuta.</p>
<p>Gli affreschi più importanti sono tre:
<ul>
<li>la volta del calidarium con lo zodiaco e le costellazioni (primo esempio);</li>
<li>nella sala d'ingresso, il Califfo sotto una copertura con uccelli e mostri;</li>
<li>di fronte, l'affresco dei sei re: i re sono  identificati da iscrizioni greche, con  traduzione in arabo titubante, ad indicare che la lingua parlata è il greco bizantino; quattro sono certi: lo Shah di Persia, l'Imperatore di Bisanzio, il Negus dell'Etiopia e il re Visigota Rodrigo di Spagna; gli altri due sono probabilmente l'Imperatore della Cina e il Khan dei Turchi.</li>
</ul></p>
<p>E' una citazione del tema  iraniano dei Principi della terra, adattato alla situazione Omayade. Rappresenta  i re vinti dall'impero islamico, quindi il mondo conquistato sotto l'Islam.</p>
<p></p>