---
layout: page
label: 13
title: "Palazzo degli Omayyadi ad Amman"
name: DSCArcheologiaIslamAmman
permalink: /page/DSCArcheologiaIslamAmman
has_toc: true
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.197848+01
last_modified: 2014-05-12 11:34:13.368735+02
scheda:
  - key: anno
    value: "725-750"
  - key: luogo
    value: "Amman, Giordania"
menus: [Archeologia e arte islamica]
---
<p>{% assign image_name="amman.eea-Image03.png" %}
{% include image.html %}
<ol>
<li>Italiani, anni '30. Portano alla luce unità abitative dell'interno.</li>
<li>Inglesi, anni '50-'80 (la Giordania è sotto il protettorato inglese). Indagini su tutta la cittadella, vari scavi. Esaminano il palazzo e sostengono l'impianto orientale.</li>
<li>Spagnoli, anni '80. Scoprono la grande moschea e danno via ai restauri. Dai loro scavi emerge la loro interpretazione: l'impianto cruciforme dell'ingresso non è stato progettato dagli Omayyadi, ma si sono basati su costruzioni precedenti, risalenti al III secolo, che ricostruiscono. E' per questo che c'è una tessituria muraria diversa dal resto dell'edificio.</li>
</ol>
Motivi decorativi misti sassanidi e bizantini, ma amanca un elemento decorativo tradizionale bizantino, le foglie di acanto: precisa intenzione di non usarlo.</p>
<p>Il palazzo degli Omayyadi ha elementi che ci fanno capire l'influenza:</p>
<p><ol>
<li>nell'ingresso con pannelli di pietra scolpita c'è la volontà di abbandonare elementi della tradizione classica (ad esempio, le foglie di acanto);</li>
<li>nicchie con due colonnette vicine;</li>
<li>scelta del tipo e dei motivi.</li>
</ol>
C'è la volontà di distaccarsi dalle tradizioni locali classiche e di ispirarsi a modelli orientali. Però si usanopietre squadrate, conci o tecniche propri della tradizione architettonica classica.</p>
<p>Fonti scritte: soprattutto gli ultimi califfi Omayyadi (dal 744 circa) sono descritti come influenzati dalle tradizioni orientali e cercano di imitare la tradizione presiana. Il persiano era considerato qualcosa di molto ricercato. Quest'orientamento prosegue con gli Abbassidi.
{% assign image_name="amman.almagro2-460.png" %}
{% include image.html %}</p>
<p><h1>Background</h1>
I grandi complessi urbani nascono con le città in Medioriente. I grandi palazzi erano simboli di potere per Babilonesi, Assiri, Achemenidi e sono sempre stati colleati al Mediterraneo orientale.</p>
<p><h2>Palazzo di Spalato di Diocleziano</h2>
Ha la struttura di una città (nel medioevo ne conteneva una), con cardo e decmano, tempio e le sale previste dal protocollo di corte, più simile a quello Parto o Sassanide che a quello romano augusteo o repubblicano. nonostante questo, ci sono forme architettoniche tipicamente romane, costruzioni a pianta centrale e a croce.</p>
<p><h2>Palazzi bizantini</h2>
Si conosce poco, anche se ci sono costruzioni a pianta centrale, spesso a croce simmetrica, sia civili che religiose. In particolare, il palazzo imperiale di Costantinopoli (532-536) aveva un ingresso principale (Chalki) conpianta a croce, che può essere stato il modello del palazzo bizantino su cui è costruito quello di Amman.</p>
<p><h2>Palazzi sassanidi</h2>
Erano vere città, isolate o interne ad altre città. Da qui derivano due elementi del palazzo di Amman:</p>
<p><ol>
<li>iwan, di origine parte (I secolo), usato estensivamente dai Sassanidi, diffuso in ambiente islamico fino in Egitto;</li>
<li>bayt, di origine orientale, anche se si trova a volte in edifici romani; si ripete spesso, per cui fa pensare a gruppi familiari senza distinzioni gerarchiche; si diffonde fino al Maghreb e in Spagna, ma in forma modificata.</li>
</ol>
Ci sono due costruzioni con pianta a croce, che però non hanno la stessa derivazione.</p>
<p><ol>
<li>Vestibolo. Costruito sulla pianta di un edificio bizantino preesistente. Lo spazio, sebbene unitario, si estende lungo i bracci della croce, che sono ambiti satellite con un loro proprio carattere.</li>
<li>Sala del trono. Non è molto diversa da una a pianta quadrata, a parte la vibrazione plastica, e segue lo schema delle sale del trono sassanidi e di certi templi.</li>
</ol>
<h1>Il palazzo</h1>
<h2>Vestibolo</h2>
Ipotesi sull'ingresso:</p>
<p><ol>
<li>copertura piatta con una zona centrale scoperta;</li>
<li>edificio coperto da una cupola centrale.</li>
</ol>
Il restauro è stato criticato perché:</p>
<p><ol>
<li>ha aggiunto elementi;</li>
<li>cupola lignea;</li>
<li>privilegia un'ipotesi di ricostruzione piuttosto che un'altra.</li>
</ol>
L'edificio ha avuto una vita lunga ed è stato ricostruito almeno tre volte.</p>
<p>Nella forma originale non si sa come la corte finisse in alto. Sono state messe merlature a dente di sega nell'ipotesi ricostruttiva, perché nello scavo sono state ritrovate molte merlature: si pensa che il tetto fosse piatto contornato da merli.</p>
<p>Un'altra ipotesi non prevede i merli e ritiene che fosse una sala coperta da una cupola. Gli elementi per giungere a ciò sono:</p>
<p><ol>
<li>nella regione era diffuso un tipo di basilica a pianta cruciforme e questi edifici sono tutti coperti da una cupola;</li>
<li>sembra che vicino alla cornice, nella zona del tetto, siano state trovate delle scanalature sulla cornice, che fanno pensare all'alloggiamento delle finestre.</li>
</ol>
ma:</p>
<p><ol>
<li>durante gli scavi condotti dagli anni '30 non sono stati trovati conci in pietra che facciano pensare alla cupola;</li>
<li>all'interno ci sono decorazioni in pietra: fa pensare che fosse un ambiente esterno, altrimenti avrebbero usato stucco.</li>
</ol>
Alcuni studiosi vedono nella pianta a croce una derivazione da palazzi sassanidi in Persia, un iwan: ambiente chiuso su tre lati che si affaccia su una corte. Questo elemento di ritrova a Kufa (670): a Dar al-Imar, sul lato della moschea, c'è una corte centrale sulla quale si affaccia un diwan, che immette poi nella stanza di ricevimento. Quindi quest'ingresso può essere una corte.</p>
<p>La questione è sospesa ma ci si indirizza verso le tesi spagnole.</p>
<p><h2>Zona abitativa</h2>
La muratura delle unità abitative è diversa dall'ingresso: non si spiega, perché sono contemporanei. Qui si usa pietra spaccata e riutilizzata, non pietra da taglio.</p>
<p><h2>Zona del trono (iwan)</h2>
Zona interrata, è stata scavata: pietre erose o di riutilizzo.</p>
<p><h1>Moschea</h1>
Ricalca le moschee irachene del primo periodo. E' rimasto ben poco per consentire una vera ricostruzione e il sito è cambiato molto in tempi sia antichi che recenti. Importanti elementi della moschea sono scomparsi e anche lo stesso rubble che avrebbe potuto dare informazioni sulle rovine.</p>
<p>I punti fermi a cui si può comunque guardare sono:</p>
<p><ol>
<li>Si tratta di una moschea ipostila senza una chiara direzione predominante. Tutti i muri perimetrali avevano dei pilastri, che indicano che gli elementi di copertura potessero andare in entrambe le direzioni. Solo pochi elementi decorativi supportano l'idea che ci fossero degli archi, alcuni o forse tutti scolpiti (carved plaster-work): la presenza dei pilastri fa pensare a delle volte.</li>
<li>La cisterna è un elemento di un sistema idraulico che raccoglieva la pioggia dalla corte e dalla terrazza del palazzo, convogliata con tubi a due altre cisterne a nord-est e a sud-ovest.</li>
<li>I muri sono in rubble, probabilmente decorati sia all'esterno che all'interno, ma non con elementi in pietra. I rubble erano tenuti insieme con malta di buona qualità. La giunzione tra le pietre è stata riempita con malta (lime), in modo da ottenere una superficie levigata. Gli angoli sono rifiniti con ashlar in pietra più tenera del resto. Le colonne della base sono in limestone più dura.</li>
<li>Della facciata principale rimangono solo le fondamenta e quindi si conosce con precisione solo la lunghezza. La ricostruzione è basata sull'analisi di elementi decorativi trovati nei dintorni, ma sempre separati dal resto della moschea.</li>
</ol>
<h2>Decorazioni</h2>
v. articolo di Almagro 2</p>
<p><h1>Influenze</h1>
Il palazzo di Amman è un anello di congiunzione nello sviluppo dell'architettura islamica, sia in ambito civile che religioso.</p>
<p><h2>La doppia cupola</h2>
<ol>
<li>Già in altri palazzi precedenti (Minya, Khirbat al-Mafjar) la porta è stata sottolineata da una cupola, per l'importante ruolo nel protocollo di corte;</li>
<li>la cupola nella sala del trono è un simbolo di potere: il re come sovrano assoluto è il centro attorno a cui gira l'universo.</li>
</ol>
Nel palazzo di Amman ci sono per la prima volta due cupole, che segnano i due poli dell'intero complesso.</p>
<p><ol>
<li>Baghdad di al-Mansur. Ripetuto su scala più grande, ma non con la stessa proporzione tra le cupole e la distanza (1 km).</li>
<li>Samarra. Tutti i palazzi hanno una sala del trono con cupola, ma non ci sono cupole doppie.</li>
<li>Laskari Bazar. Porta con hall cruciforme e sala del trono con iwan, si suppone entrambe con cupola.</li>
<li>Moschea di Qairawan. Primo esempio in ambito religioso. Anche se con diverse funzioni, mancano i due poli principali della moschea e la direzione principale (verso la mecca).</li>
<li>Moschea di Cordova, dopo le modifiche di al-Hakam II.</li>
<li>Moschea di Zaytuna a Tunisi: riceve una cupola alla Bab al-Bahu in periodo Hafsi.</li>
<li>Moschee Almohad.</li>
<li>Torre Manar alla Qala dei beni Hammad in Algeria. riproduzione della sala del trono.</li>
<li>Palazzo Ziza a Palermo: riprende la sala del trono.</li>
<li>Nazarid (XIV secolo): cupola per la sala del trono e per ogni luogo importante. La porta d'ingresso, però, non è più in asse.</li>
</ol>
<h2>Bayt</h2>
<ol>
<li>palazzo Ziri ad Ashir;</li>
<li>Medinat al-Zahara: la "Rich Hall" era a basilica, con un chiosco nel giardino pure a basilica, di fronte alla sala del trono; attorno alcove che richiamano Qusayr Amra, che derivano dalle bayt;</li>
<li>il palazzo Aljaferia a Saragoza: la sala del trono è oblunga, ma comunque ci sono alcove; solo nella moschea ci sono cupole.</li>
</ol>
<h2>Elementi decorativi minori</h2>
Vengono diffusi in occidente grazie alla mosche di Cordova nell'VII secolo.</p>
<p>
</p>