---
layout: page
label: 27
title: "La Grande Moschea degli Omayyadi a Damasco"
name: DSCArcheologiaIslamMoscheaDamasco
permalink: /page/DSCArcheologiaIslamMoscheaDamasco
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.545636+01
last_modified: 2014-05-08 09:18:44.512842+02
scheda:
  - key: anno
    value: "706"
  - key: luogo
    value: "Damasco"
  - key: committente
    value: "al-Walid"
---
<p>{% assign image_name="moscheadamasco.grabarf23.png" %}
{% include image.html %}
Il  perimetro preesistente  è di  una chiesa  bizantina sorta  su un tempio  romano (temenos) dedicato a  Zeus.  Adesso si  trova nel  suq. Pienamente conservata  dai tempi di  al-Walid, a parte  l'incendio del 1893  che  ha distrutto  molte  delle  decorazioni.   Discussi sia  il restauro Unesco degli anni sessanta  che ha reintegrato i mosaici, sia le recenti ricostruzioni (fine anni ottanta, inizi novanta).</p>
<p>{% assign image_name="creswell.EA.CA.887.crop.png" %}
{% include image.html %}</p>
<p>{% assign image_name="creswell.EA.CA.888.crop.png" %}
{% include image.html %}</p>
<p>{% assign image_name="creswell.EA.CA.883.crop.png" %}
{% include image.html %}</p>
<p>{% assign image_name="creswell.EA.CA.882.crop.png" %}
{% include image.html %}</p>
<p>Come  nella  Cupola  della   Roccia,  molti  degli  elementi  derivano
dall'architettura tradizionale siriana. Innovazioni:
<ol>
<li>la  pianta,  con  una  navata  centrale,  è  concepita  più organicamente che  le moschee  irachene, poiché doveva  entrare in un'area prestabilita;</li>
<li>le tre  ali  e  la navata  assiale,  assieme alle  proporzioni, diventeranno un modello standard in Siria e altrove;</li>
<li>rapporto  organico tra  mihrab, minbar, la  navata assiale  e la  cupola di fronte al  mihrab, con ambiguità tra questioni religiose e regali.</li>
</ol></p>
<p>{% assign image_name="archnet.ISY0532.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ISY0539.jpg" %}
{% include image.html %}
<h2>Decorazione</h2></p>
<p>Griglie delle finestre. Pannelli di marmo decorano l'esterno (ora solo alla porta est).</p>
<p>{% assign image_name="archnet.ICR2544.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="creswell.EA.CA.2104.crop.png" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ICR2546.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="creswell.EA.CA.2106.crop.png" %}
{% include image.html %}
I mosaici in  origine coprivano quasi tutto il  muro del portico, della facciata della corte, del santuario e forse anche del minareto nord.   Ci sono  molti riferimenti  letterari, ma  anche incertezze. Forse sono opera di  maestranze bizantine o forse quest'attribuzione riflette solo  la qualità del lavoro.   I temi sono  in gran parte vegetali,  ma   vengono  introdotti  elementi   architettonici,  che rappresentano  la  parte originale.   Appaiono  nella faciata  della navata   assiale,   nei pulvini        dei         portici        nord        e        ovest.  Il  frammento maggiore è      quello      del       muro      del      portico      ovest.</p>
<p>{% assign image_name="archnet.ISY0543.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ISY0544.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ICR2553-part.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ISY0540.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ISY0537.jpg" %}
{% include image.html %}
Vengono usati  tutti gli stili  disponibili: l'innovazione apparente è  appunto  quella di  affiancarli  tutti.  Si  sente l'eco  delle rappresentazioni  con umoini e  animali, ma  i committenti  ne hanno imposto l'assenza, qualunque fosse l'origine delle maestranze: forse gli  alberi sostituiscono  le  persone presenti  in lavori  analoghi più antichi.</p>
<p>Possibili significati:
<ol>
<li>tutte le  città  del mondo,  o  forse la  sola Damasco:  un   simbolo  della conquista  Omayade,  ma le  differenze sono  troppo   ampie e ci sono edifici di fantasia;</li>
<li>un'ideale  rappresentazione del paradiso, senza  tutte le cose   viventi; ma l'idea di illustrare  il libro non sembra coerente con   l'uso contemporaneo del Corano;</li>
<li>fusione dei  due  temi: tentativo  di rappresentare  l'insieme   dell'universo   controllato  dal   Califfo,   però  immerso   in   un'atmosfera da età dell'oro,  raggiunta sotto la nuova fede, la   perfezione  portatrice   di  pace   che  permea  tutte   le  cose;   rappresenta non  la vittoria, come  la Cupola della Roccia,  ma la   sicurezza raggiunta dall'impero musulmano.</li>
</ol></p>
<p>Il  significato  è  andato  perso:  il tema  iconografico  non  ha attecchito, forse perché troppo collegato all'arte cristiana.</p>
<p></p>