---
layout: page
label: 29
title: "La Moschea di Qairawan"
name: DSCArcheologiaIslamMoscheaKairawan
permalink: /page/DSCArcheologiaIslamMoscheaKairawan
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.606526+01
last_modified: 2014-05-08 09:18:44.53503+02
scheda:
  - key: anno
    value: "670, restaurata tre volte nel IX secolo (817-838, 856-863)"
  - key: luogo
    value: "Qairawan, Tunisia"
---
<p>{% assign image_name="archnet.IMG08433.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.IMG08422.jpg" %}
{% include image.html %}
Caratteristica delle moschee del Nord-Africa la cupola sul mihrab e le cupolette laterali.</p>
<p>Il  mihrab  è  decorato con  le  piastrelle  fatte  sul posto  da  una maestranza irachena.  A  un uomo di Baghdad viene  chiesto nell'862 di trasferirsi a Kairawan  per fare le piastrelle a  lustro per il mihrab della moschea.  Argilla locale,  ma temi iracheni.  Pratica ricorrente di  installare  un  atelier  in  loco. Conferma  la  migrazione  degli artigiani e consente la datazione del lustro bicromo.</p>
<p>{% assign image_name="archnet.ICR0478.JPG" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ICR0514.JPG" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ICR0521.JPG" %}
{% include image.html %}
La piccola cupola  sopra il mihrab è probabilmente  del XII secolo, ma non si  sa se  ci fosse  anche in origine.  Il mihrab  non si  vede da nessun punto della moschea. C'è la maqsura.</p>
<p></p>