---
layout: page
label: 35
title: "Qasr al-Hayr al-Sharki"
name: DSCArcheologiaIslamQusurHayrSharki
permalink: /page/DSCArcheologiaIslamQusurHayrSharki
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.777324+01
last_modified: 2014-05-08 09:18:44.601521+02
scheda:
  - key: anno
    value: "728-729"
  - key: luogo
    value: "Palmyra, Siria, zona ora desertica"
  - key: committente
    value: "Hisham"
---
<p>
{% assign image_name="creswell.EA.CA.2155.jpg" %}
{% include image.html %}</p>
<p>{% assign image_name="archnet.IMG13458.jpg" %}
{% include image.html %}</p>
<p>{% assign image_name="questier.20051221-095214_Syria_Qasr_al_Hir_al_Sharqi_Caliph_Palace.med.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="questier.20051221-095031_Syria_Qasr_al_Hir_al_Sharqi_2nd-palace.med.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="questier.20051221-100747_Syria_Qasr_al_Hir_al_Sharqi_Caliph_Palace.med.jpg" %}
{% include image.html %}
Un'iscrizione andata perduta parla di Zaiduna (zona antica), una città voluta da  Hisham (724-744).   Gli scavi di  questo Qusur  hanno fatto scoprire l'importanza data dagli Omayadi ai qusur per l'agricoltura.</p>
<p>
<ol>
<li>Conosciuto già nel XVI secolo, inizialmente considerato un forte romano.</li>
<li>Studiato da Sauvaget, senza scavi.</li>
<li>Solo in parte scavato da una missione USA negli anni '60 guidata da Grabar, che  ha fatto emergere un dato  importante: i due edifici sono  il nucleo  di un'area  più estesa  (circa  sette chilometri) lavorata  da  agricoltori, con  opere  di  canalizzazione, dato  che l'area predesertica è coltivabile se e solo se irrigata.</li>
<li>Nel 2002  una  missione franco-svizzera  ha identificato  altri edifici,  opere di  irrigazione e  strutture, realizzate  in mattoni crudi, funzionali ad una grossa azienda agricola.</li>
</ol></p>
<p>Le fonti  indicano che il complesso  si trovaa al centro  di un grande parco  riserva  di  caccia  del  principe. Questo  complesso  è  stato occupato  fino al  XIV secolo.  La cinta  perimetrale si  è conservata integra  e uguale all'originale,  mentre la  parte centrale  ha subito rimaneggiamenti.</p>
<p>Materiale  da  costruzione:  pietra  da taglio  (tradizione  romana  e bizantina).</p>
<p>Elementi classici:
<ol>
<li>copertura delle volte;</li>
<li>decorazione delle torri (senza scopo definito).</li>
</ol></p>
<p>C'è   una  caditoia   o  piombatoio,   un  elemento   difensivo  delle fortificazioni a forma di balconcino ma vuoto sotto.  E' l'esempio più antico sopravvissuto e si pensa  che sia di tradizione romana. Ne sono arrivati  pochi  perché si  trova  ai  piani  superiori che  sono  più difficili da conservare.  Si trovano sia nel complesso  più grande che in quello più piccolo.</p>
<p><h1>Il grande recinto</h1></p>
<p>Nel  complesso più  grande ci  sono quattro  porte assiali  ai quattro punti  cardinali,  che ripropongnono  la  pianta  dei  forti romani  e bizantini, ma solo in funzione estetica, non difensiva.  In quest'area nel II secolo vennero  costruite delle fortificazioni per difendere la provincia romana, ma  in realtà i Romani avevano  copiato questa forma dai Parti.</p>
<p><h1>Il piccolo recinto</h1></p>
<p>Secondo   la  missione   USA   il  complesso   più   piccolo  era   un caravanserraglio, sfruttato dai mercanti di passaggio. Quest'ipotesi è contestata  dagli Svizzeri, che  in base  ai ritrovamenti  più recenti identificano il  complesso più piccolo  come il palazzo, dato  che nel complesso più grande nessuno degli appartamenti ha le decorazioni e le dimensioni necessarie per ospitare il califfo.  Nel palazzo piccolo ci sono resti  di piani pavimentali e  segni di edifici  attaccati ai muri perimetrali.</p>
<p><h1>La moschea</h1></p>
<p>Ci  sono  colonne  reimpiegate  provenienti  da  edifici  classici  lì vicino. Gli  studiosi dicono che il  materiale viene da  Palmira (a 20 km),  dato che è  stato ritrovato  un blocco  con un'iscrizione  di un monumento di Palmira.</p>
<p>Mentre nel  grande e piccolo  recinto hanno impiegato  pietre tagliate appositamente,  nella moschea  sono  stati usati  blocchi di  recupero anche di colore  diverso. Il motivo è sconosciuto,  forse la moschea è caduta ed è stata ricostruita, in  ogni caso l'idea è che sia nata col resto del complesso.</p>
<p></p>