---
layout: page
label: 37
title: "Khirbet al-Mafjar"
name: DSCArcheologiaIslamQusurKhirbet
permalink: /page/DSCArcheologiaIslamQusurKhirbet
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.844112+01
last_modified: 2014-05-08 09:18:44.623747+02
scheda:
  - key: anno
    value: "736-747, IX sec., X sec., XII-XIV sec."
  - key: luogo
    value: "Israele, circa 5 km da Gerico"
  - key: committente
    value: "al-Walid"
---
<p></p>
<p>{% assign image_name="archnet.ISR0214.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ISR0211.jpg" %}
{% include image.html %}
Whitcomb, K. reconsidered: recupera  la documentazione per ridatare il materiale. All'epoca  dello scavo non  si conosceva la datazione  e si pensava fosse tutto dell'VIII  secolo (terremoto del 747). In realtà le ceramiche  non sono di  un solo periodo:  il terremoto del  747 non corrisponde all'abbandono,  che adesso è  ridatato al 1400.   I siti perdono le funzioni originali, ma continuano ad essere occupati.</p>
<p>Non si trova nel deserto, ma in una zona coltivata (canna da zucchero) dove  esistevano già  acquedotti romani.  Su due  piani,  racchiuso da cinta perimetrale. Solo la zona termale è stata completata.</p>
<p>Materiali:  arenaria, pietra  tagliata,  muria a  secco (materiale  di risulta), arenaria e mattoni  cotti. La parte inferiore della facciata è diversa.</p>
<p>Elementi di tradizione classica:
<ol>
<li>bagno termale;</li>
<li>tecniche costruttive.</li>
</ol></p>
<p>Novità:
<ol>
<li>dilatazione dell'ingresso;</li>
<li>zona per il ricevimento privato.</li>
</ol></p>
<p><h1>Il bagno termale</h1></p>
<p>Ingresso,  vestibolo,  salone di  ricevimento.  Crollato e  riscoperto negli anni '30.</p>
<p>
{% assign image_name="archnet.ISR0212.jpg" %}
{% include image.html %}</p>
<p>
{% assign image_name="archnet.ISR0213.jpg" %}
{% include image.html %}
Le decorazioni in  stucco sono altorilievi e statue  a tutto tondo (si trovano solo  qui e  in un altro  palazzo).  Rappresentano la  vita di corte  e a  volte  diventano elementi  architettonici.  L'influenza  è principalmente orientale, ma ci  sono anche temi classici (es. Atlante che regge il mondo).</p>
<p></p>