---
layout: page
label: 30
title: "La Moschea del Profeta a Medina"
name: DSCArcheologiaIslamMoscheaProfeta
permalink: /page/DSCArcheologiaIslamMoscheaProfeta
has_toc: false
created_by: chiara
modified_by: chiara
created: 2014-02-07 14:45:54.644394+01
last_modified: 2014-05-08 09:29:06.459775+02
scheda:
  - key: anno
    value: "624, restauro 706-710"
  - key: luogo
    value: "Medina"
  - key: committente
    value: "Mohammad, restauro al-Walid"
---
<p>{% assign image_name="moscheaprofeta.originale.png" %}
{% include image.html %}</p>
<p>
{% assign image_name="mitopencourseware-5024.jpg" %}
{% include image.html %}
Era formata  da una  grande corte centrale,  delimitata da un  muro di mattoni cotti al sole,  con due zone coperte a nord e  a sud. Quella a sud indicava  la direzione della  preghiera (qibla). La  loro funzione più probabile  era quella  di dare ombra  (zullah). Nel lato  est si aprivano  le camere  delle mogli.   Il profeta  era solito  guidare la preghiera da  un semplice  pulpito, una sedia  da giudice,  il minbar, divenuto simbolo dell'autorità.</p>
<p>{% assign image_name="moscheaprofeta.alwalid.png" %}
{% include image.html %}
Anche se diventerà il secondo  posto più sacro dell'Islam, non è probabile che  sia stato pensato  come santuario. La  disposizione era più pratica che estetica. Da alcune fonti sembra che fosse una nuova costruzione, separata dalla casa.</p>
<p>La casa del profeta a Medina  è diventata un modello per i luoghi di culto dopo la trasformazione  della casa in Moschea (materiale povero, semplicità).  In origine non  c'era il mihrab, introdotto assieme ai minareti da al-Walīd.</p>
<p>
</p>