<!doctype html>
<html>

  {% include html_head.html %}

  <body>

    <header>

      <div id="headerbanner">
	<p class="headerbox3">Repubblica Popolare Per Azioni della Gianozia Orientale</p>
	<img alt="logo grande" src='{{ "/assets/brand/logo.svg" | relative_url }}' id="logogrande" class="headerbox3"/>
	<p class="headerbox3">&Ouml;stergianotische<br/> Aktienvolksrepublik</p>
      </div>

    </header>

    <main class="home">

    {{ content }}

    </main>

    {% include footer.html %}

  </body>
</html>
