<!doctype html>
<html>

  {% include html_head.html %}

  <body>
    <header>
      <div id="headerpage">
	<a href='{{ "/" | relative_url }}'>
	  <img alt="logo grande" src='{{ "/assets/brand/logo.svg" | relative_url }}' 
	       id="logogrande" class="headerbox3"/>
	</a>
	<div>
	  <p class="headerbox3">Repubblica Popolare Per Azioni della Gianozia Orientale</p>
	  <p class="headerbox3">&Ouml;stergianotische Aktiendemokratische Republik</p>
	  <nav class="bigviewport">
	    <a href='{{ "/page/HomeUnikant" | relative_url }}'>Università</a>
	    <a href='{{ "/page/StoriaGianozia" | relative_url }}'>Storia</a>
	    <a href='{{ "/page/GeografiaGianozia" | relative_url }}'>Geografia</a>
	    <a href='{{ "/page/LingueGianozia" | relative_url }}'>Lingue</a>
	    <a href='{{ "/page/Archivio" | relative_url }}'>Archivio</a>
	    <a href='{{ "/page/Biblioteca" | relative_url }}'>Biblioteca</a>
	    <a href='{{ "/page/Cucina" | relative_url }}'>Cucina</a>
	  </nav>
	</div>

	<nav class="littleviewport">
	  <a href='#' class="handle"><i class="fa fa-bars"></i></a>
	  <a href='{{ "/page/HomeUnikant" | relative_url }}'>Università</a>
	  <a href='{{ "/page/StoriaGianozia" | relative_url }}'>Storia</a>
	  <a href='{{ "/page/GeografiaGianozia" | relative_url }}'>Geografia</a>
	  <a href='{{ "/page/LingueGianozia" | relative_url }}'>Lingue</a>
	  <a href='{{ "/page/ArchiviKGBaol" | relative_url }}'>Archivio</a>
	  <a href='{{ "/page/Biblioteca" | relative_url }}'>Biblioteca</a>
	  <a href='{{ "/page/Cucina" | relative_url }}'>Cucina</a>
	</nav>

      </div>
    </header>

    <main>

      <h1 class="page">
	{% if page.protected %}{% include gianozia-scutum.html %}{% endif %}
	{{ page.title }}
	{% if page.protected %}{% include gianozia-scutum.html %}{% endif %}
      </h1>

      <article>

      {% if page.scheda or page.menus or page.has_toc %}
      <aside id="pagebox">
	
	<span class="vismarker"/></span>

	<a href='#' class="togglepagebox" data-target="aside#pagebox">
	{% if page.logo %}
	<img src='{{ page.logo | relative_url }}' class="logobullet"/>
	{% else %}
	<img src='{{ "/assets/brand/menudefault.png" | relative_url }}' class="logobullet"/>
	{% endif %}
	</a>

	{% if page.scheda %}
	<table>
	  {% for p in page.scheda %}
	  <tr><th>{{ p.key }}</th><td>{{ p.value }}</td></tr>
	  {% endfor %}
	</table>
	{% endif %}
	
	{% if page.has_toc %}
	<nav id="pagetoc">
	<p class="title level0">Sommario</p>
	</nav>

	{% include gianozia-sep.html %}

	{% endif %}
	
	{% if page.menus %}
	<nav id="pagemenu">
	  {% for m in page.menus %}
	    {% assign dmenu=site.data.menus[m] %}
	    {% for ch in dmenu.children %}
	       {% assign cmenu=site.data.menus[ch] %}
	       {% include menu.html menu=cmenu %}
	    {% endfor %}
	  {% include menu.html menu=dmenu %}
	  {% endfor %}
	</nav>
	{% endif %}

      </aside>
      {% endif %}
      

	{{ content }}

        {% if page.attachments %}

	<section class="attachments onfoot">
	  <h1 class="nonumber">Materiali</h1>

	  <ul>
	    {% for f in page.attachments %}
	    <li><a href='{{ f.file | relative_url }}'>{{ f.title }}</a></li>
	    {% endfor %}
	  </ul>
	</section>
	  {% endif %}

	

	<section class="bibliography onfoot">

	  
	  <h1 class="nonumber">Riferimenti</h1>
	  
	  <dl>
	    {% for e in page.bibliography %}
	    {% assign bib=site.data.biblioreal[e] %}
	    {% include bibliography.html entries=bib %}
	    {% endfor %}
	  </dl>
	  
	</section>

	<footer>
	  <p>
	    creato da {{ page.created_by }} 
	    il {% include datetime.html date=page.created %}
	  </p>
	  <p>
	    modificato {% if page.created_by != page.modified_by %}da {{ page.modified_by }}{% endif %} 
	    il 
	    {% if page.last_modified %}
	    {% include datetime.html date=page.last_modified %}
	    {% else %}
	    {% include datetime.html date=page.date %}
	    {% endif %}
	  </p>

	  <p>&nbsp;</p>
	  {% if page.protected %}
	  <p>
	    <a href="http://creativecommons.org/licenses/by-nd/4.0/deed.it">
	      <i class="cc cc-cc"></i><i class="cc cc-by"></i><i class="cc cc-nd"></i>
	    </a>
	  </p>
	  <p>
	    Riproduzione senza alterazioni consentita con qualsiasi mezzo a patto venga conservato questo avviso.
	  </p>
	  {% else %}
	  <p>
	    <a href="http://www.gnu.org/licenses/fdl.html">
	      {% include gnu-fdl-logo.html %}
	    </a>
	    <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.it">
	      <i class="cc cc-cc"></i><i class="cc cc-by"></i><i class="cc cc-sa"></i>
	    </a>
	  </p>
	  {% endif %}

	</footer>

      </article>
      
    </main>

    {% include footer.html %}

    <script>
      $("nav.littleviewport a").hide();
      $("nav.littleviewport a.handle").show();
      $("nav.littleviewport a.handle").click(function(event){
	  event.preventDefault();
	  $(this).siblings().toggle();
      });

      {% if page.citeall != true %}
      $("section.bibliography h1").hide();
      $("section.bibliography dl dt").hide();
      $("section.bibliography dl dd").hide();
      {% endif %}

      $("section.bibliography dl").each(function(){
	  var children=$(this).children();
	  var sort_list = Array.prototype.sort.bind(children);

	  sort_list(function ( a, b ) {

	      console.log(a,b);

	      // Cache inner content from the first element (a) and the next sibling (b)
	      var aText = $(a).data("order").toLowerCase();
	      var bText = $(b).data("order").toLowerCase();
	      
	      // Returning -1 will place element `a` before element `b`
	      if ( aText < bText ) {
		  return -1;
	      }

	      // Returning 1 will do the opposite
	      if ( aText > bText ) {
		  return 1;
	      }

	      // Returning 0 leaves them as-is
	      return 0;
	  });

	  $(this).append(children);

      });

      $("blockquote").each(function(){
	  var cite=$(this).attr("cite");
	  if (!cite) return;
	  var cite_t=cite.split(':');
	  if (cite_t.length<2) return;
	  if (cite_t[0]!="bib") return;
	  var last=$(this).children().last();
	  var dt=$('a[name='+cite_t[1]+']').parent();
	  var entry;

	  console.log("x",dt);

	  if (dt.length==0) {
	      entry="[==NOREF==]";
	      $(this).append(' '+entry);
	      return
	  }

	  $("section.bibliography h1").show();
	  dt.show();
	  $(dt.data("mydd")).show();
	  //dt.siblings("dd").first().show();

	  entry=dt.text();
	  if (last.length>0)
	      last.append(' <a href="#'+cite_t[1]+'">'+entry+'</a>');
	  else
	      $(this).append(' <a href="#'+cite_t[1]+'">'+entry+'</a>');
	  
      });

      var aside_reset_css=function(target){
	  if (target.children(".vismarker").is(":visible")) {
	      target.css({
		  "padding": "", 
		  "border-radius": "",
		  "min-height": "",
		  "background": "",
		  "box-shadow": ""
	      });
	      return
	  };
	  target.css({
	      "padding": "0", 
	      "border-radius": 0,
	      "min-height": 0,
	      "background": "none",
	      "box-shadow": "none"
	  });
      };

      aside_reset_css($("#pagebox"));

      $( window ).resize(function(){
	  aside_reset_css($("#pagebox"));
      });

      $(".togglepagebox").click(function(event){
	  event.preventDefault();
	  var target=$( $(this).data("target") );

	  target.children().toggle();
	  aside_reset_css(target);
	  $(this).show();

      });

      {% if page.has_toc %}

      var num2alpha=function(num){
	  return String.fromCharCode("A".charCodeAt(0)+num-1);
      }

      var num_chapter=1;
      var num_appendix=1;
      var num_nonumber=1;


      $("article h1").each(function(){
	  if (!$(this).is(":visible")) return;

	  var old=$(this).html();
	  var title=$(this).text();
	  var menu=$("#pagetoc");
	  var the="";
	  var label="";
	  
	  if ( $(this).hasClass("nonumber") ) {
	      label='toc-h1-nn-'+num_nonumber;
	      num_nonumber+=1;
	  } else if ( $(this).hasClass("appendix") ) {
	      label='toc-h1-app-'+num_appendix;
	      the="Appendice "+String.fromCharCode("A".charCodeAt(0)+num_appendix-1)+". ";
	      num_appendix+=1;
	  } else {
	      label='toc-h1-'+num_chapter;
	      the=num_chapter+". ";
	      num_chapter+=1;
	  }

	  $(this).html(the+old);
	  $(this).before('<a name="'+label+'"></a>');

	  var ref='<a href="#'+label+'">';
	  ref+='<p class="level1 item">';
	  ref+=the+title;
	  ref+='</p></a>';
	  menu.append(ref);
      });

      {% endif %}

    </script>

    

  </body>
</html>
